---
import BaseLayout from '@src/BaseLayout.astro';

const CONTACT = [
	{label: '812-360-1622', url: 'tel:+18123601622'},
	{label: 'https://yangguang.li', url: 'https://yangguang.li'},
	{label: 'liyangguangcn@gmail.com', url: 'mailto:liyangguangcn@gmail.com'},
	// {label: 'https://linkedin.com/in/yangguangli/', url: 'https://linkedin.com/in/yangguangli/'},
];

const EXPERIENCES = [
	{
		company: 'Sutter Hill Ventures',
		position: 'Engineer on AI projects',
		time: 'Feb 2023 - Present',
		location: 'Palo Alto, CA',
		content: [
			{
				item: `Lead engineer on ask.lukew.com - private knowledge LLM demo`,
				details: [
					`Led the end-to-end development: UI, API, database, and LLM integration.`,
					`Created ingestion and embedding pipelines for webpages, audio, videos, and PDFs.`,
					`Designed an LLM flow with prompting, conversation memory, retrieval & citation, and context-aware suggestions.`,
				],
				tech: ['GPT', 'Whisper', 'Vector database', 'SvelteKit'],
			},
			{
				item: `Lead engineer on stealth start-up products`,
				details: [
					`Led the development of multiple AI-powered products. Some were adopted by multiple SHV portfolio companies.`,
					`Explored optimization of LLM results. Built experimentation and analysis tools.`,
				],
				tech: ['GPT', 'Llama', 'Supabase', 'SvelteKit'],
			},
		],
	},
	{
		company: 'Google',
		position: 'Senior UX Engineer',
		time: 'June 2016 - Jan 2023',
		location: 'Mountain View, CA',
		content: [
			{
				item: `Frontend and prototyping lead on the Google Data Warehouse team`,
				details: [
					`Co-designed, and prototyped the product, steering it from inception to a successful launch.`,
					`Led engineering on multiple related products - mobile apps insights dashboard, COVID impact on Google apps dashboard, interactive visualization educational series.`,
				],
				tech: ['Vue', 'Angular', 'SQL', 'Firebase'],
			},
			{
				item: `Tech lead on multiple cross-company projects`,
				details: [
					`Led engineering on Google's business metrics platform. A vital tool for the Office of CEO and all SVPs to track and measure company-level OKRs.`,
					`Owned the internal roadmap creation and sharing tool. Led both engineering and product design.`,
					`Led frontend of the internal tech stack catalog platform, iOS@Google program, educational games, and more.`,
				],
				tech: ['React', 'Angular', 'Firebase', 'IssueTracker'],
			},
			{
				item: `UXE Manager`,
				details: [
					`Manager for 2.5 years, 4 reports in total.`,
					`Recruited and onboarded my reports, and mentored them.`,
					`Continued doing IC work as a tech lead.`,
				],
			},
		],
	},
	{
		company: 'YDays',
		position: 'Founding engineer',
		time: 'Aug 2020 - Jan 2022',
		location: 'Mountain View, CA',
		content: [
			{
				item: `Founding member and engineering lead of YDays.com - a creative drawing platform`,
				details: [
					`Architected the overall system of the YDays UI and admin dashboard.`,
					`Implemented a P5-to-GIF conversion process on cloud functions, using a headless browser and web workers.`,
				],
				tech: ['React', 'Firebase', 'GitLab CI/CD', 'Cloud functions', 'Puppeteer'],
			}
		],
	},
];

const EDUCATION = [
	{
		university: 'Indiana University',
		program: 'M.S. in Human-Computer Interaction Design',
		time: 'Aug 2014 - May 2016',
		location: 'Bloomington, IN, USA',
	},
	{
		university: 'Beijing University of Posts and Telecommunications',
		program: 'B.E. in Industrial Design - Interaction design track',
		time: 'Aug 2010 - Jun 2014',
		location: 'Beijing, China',
	},
];
---

<BaseLayout>
	<style slot="style">
		main {
			display: grid;
			grid-template-columns: 200px 1fr;
			gap: 2em;
			align-items: start;
			max-width: 80ch;
			margin: 0 auto;
		}

		.section-title,
		.position,
		.metadata {
			margin: 0.3em 0;
		}

		.section-title {
			text-transform: uppercase;
			font-weight: bold;
		}

		.position {
			font-weight: bold;
		}

		.metadata {
			opacity: 0.7;
			font-size: .9em;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.exp-details {
			list-style: disc;
			padding-left: 1em;
		}

		p {
			margin: .3em 0;
		}

		.first-name {
			font-weight: bold;
			margin-bottom: .8em;
		}

		.first-name,
		.last-name {
			display: block;
			font-size: 2em;
			line-height: 1;
		}

		.contacts li {
			margin: .5em 0;
		}
		.contacts li a {
			color: inherit;
			text-decoration: none;
			font-weight: normal;
			transition: color var(--transition);
		}

		.contacts li a:hover {
			color: var(--accent);
		}

		.text-content > li {
			margin-bottom: 1.4em;
		}

		@media print {
			:global(header, footer) {
				display: none !important;
			}

			main {
				font-size: .8em;
				max-width: 100ch;
				gap: 1em;
				line-height: 1.4;
			}
	
			.contacts li {
				margin: 0;
			}
			.first-name,
			.last-name {
				font-size: 1.6em;
				line-height: .8;
			}
		}
	</style>

	<main>
		<p>
			<span class="first-name">Yangguang</span>
			<span class="last-name">Li</span>
		</p>
		<ul class="contacts">
			{CONTACT.map((item) => <li><a href={item.url} target="_blank" rel="noreferrer noopener">{item.label}</a></li>)}
		</ul>
		{EXPERIENCES.map((exp) => 
			<div>
				<p class="section-title">{exp.company}</p>
				<p class="position">{exp.position}</p>
				<p class="metadata">{exp.time}</p>
				<p class="metadata">{exp.location}</p>
			</div>
			<ul class="text-content">
				{exp.content.map((exp) => <li>
					<span>{exp.item}</span>
					<ul class="exp-details">
						{exp.details.map((detail) => <li>{detail}</li>)}
						{exp.tech ? <li><b>{exp.tech.join(', ')}</b></li> : ''}
					</ul>
				</li>)}
			</ul>
		)}
		<span class="section-title">education</span>
		<ul class="text-content">
			{EDUCATION.map((item) => 
				<li>
					<p>{item.program} | {item.university}</p>
					<p class="metadata">{item.time} | {item.location}</p>
				</li>
			)}
		</ul>
	</main>
</BaseLayout>
