---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';

type Post = CollectionEntry<'blog'>;
type Props = {posts: Post[]};

const posts = Astro.props.posts;

// TODO: render description as markdown as well
---
<ul>
  {
    posts.map((post: Post) => (
      <li>
        <div class="left">
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </div>
        <div class="right">
          <div class="metadata-row">
            <FormattedDate date={post.data.pubDate} />
            &nbsp;
            <Tags tags={post.data.tags}></Tags>
          </div>
          <p class="description">{post.data.description}</p>
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }

  li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--border);
  }

  
	a, a:visited {
		text-decoration: none;
		font-weight: bold;
		color: var(--text);
		transition: color var(--transition);
    height: 100%;
    width: 100%;
	}

	a:hover {
		color: var(--accent);
	}

  .left a {
    font-size: 1.4em;
    max-width: 32ch;
    display: block;
  }

  .metadata-row {
    color: #777;
  }

  .description {
    margin-bottom: 0;
    margin-top: .5em;
  }

  @media screen and (max-width: 1000px) {
    li {
      grid-template-columns: 1fr;
      gap: .5em;
    }
  }
</style>
