---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';

type Props = {posts: Array<CollectionEntry<'blog'>>};

const posts = Astro.props.posts;

// TODO: render description as markdown as well
---
<ul>
  {
    posts.map((post) => (
      <li>
        <div class="left">
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </div>
        <div class="right">
          <div class="metadata-row">
            <FormattedDate date={post.data.pubDate} />
            &nbsp;
            <Tags tags={post.data.tags}></Tags>
          </div>
          <p>{post.data.description}</p>
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    display: contents;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  .left, .right {
    padding: 1rem 0 2rem;
    border-top: 1px solid #000;
  }

  .left a {
    font-size: 1.2em;
    max-width: 32ch;
    display: block;
  }

  .right {
    padding-left: 2em;
    font-size: 0.9em;
  }

  .metadata-row {
    color: #777;
  }

  @media screen and (max-width: 1000px) {
    ul {
      grid-template-columns: 1fr;
    }

    .left {
      padding-bottom: .5em;
    }

    .right {
      padding-top: 0;
      padding-left: 0;
      border: 0;
    }
  }
</style>
